<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config />

  <bean id="eddie" class="me.lbing.springidol.Instrumentalist">
    <property name="song" value="Running with the Devil" />
  </bean>
  
  <bean id="guitar" class="me.lbing.springidol.Guitar" />

    <!--如果放开下面注释,就会有两个Instrument的子类(guitar,piano),spring unsatisfied bean found 2 beans -->
 <!-- <bean id="piano" class="me.lbing.springidol.Piano" />-->
</beans>